<h1>フォロー中</h1>
<% @user.followings.each do |following| %>
  <div><%= following.name %></div>
<% end %>
<h1>フォロワー</h1>
<% @user.followers.each do |followers| %>
  <div><%= followers.name %></div>
<% end %>