<% @posts.each do |post| %>
  <div><%= post.body %></div>
  <div><%= post.created_at %></div>
  <% if post.user_id == current_user.id %>
    <%= link_to "削除", post_path(post), method: :delete, data: {confirm: "削除しますか？"}  %>
  <% end %>
<% end %>
